*.log
*.tlog
*.opensdf
*.sdf
*.suo
*.Filters
*.user
ipch
bins/
build/
docs/*
*.msi
*.wixobj
*.wixpdb
/src/srsvc/obj
/src/srui/obj
/utils/sigcheck/sigcheck/bin/Debug
/utils/sigcheck/sigcheck/obj/Debug
/utils/sigcheck/sigcheck/bin/x86/Debug
/utils/sigcheck/sigcheck/obj/x86/Debug
/installer/*.exe
